{% extends 'main/base.html' %}
{% load static %} 
{% block title %}Change password {% endblock title %} 

{% block main-content %}
<div class="container my-5 pt-5">
  <div class="row">
   {% if user.is_authenticated %}
    <h3>Welcome {{user.username}}</h3>
    {% endif %}
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="btn btn-primary"
            >Change Password</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <form method="post" action="" >
        <div class="mb-3">
        {% csrf_token %}

         {% if messages %} 
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-danger mb-5"{% endif %}>
                {{message}}
            </p>
             {% endfor %}
        {% endif %}


          {% for cPass in passChange %}
          <label for="exampleInputPassword1" class="form-label"> {{cPass.label}}</label>
          {{ cPass }} </br>
          {% endfor %}
        </div>
        {% comment %} <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
