 {% load static %}
        <section id="Breakfast Platter">
              <div class="new_lunches">
                <h1 class="new_lunches_title">Breakfast Platter</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                            <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                       <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                         <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                         </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                           <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Chicken Sausage Loaded Fries</p>
                            <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </section> 
              <section id="New Lunches">
              <div class="new_lunches">
                <h1 class="new_lunches_title">New Lunches</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳120 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                       <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳200 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                         <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                         </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳150 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                  <div class="card">
                      <figure>
                      <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                      </figure>
                    <div class="card-body">
                        <p class="card-title">Chicken Sausage Loaded Fries</p>
                        <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳120 </p>
                          <p class="card-text-add">ADD</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                        <figure>
                      <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                      </figure>
                      <div class="card-body">
                        <p class="card-title">Fried Chicken Kimchi Rice Bowl</p>
                        <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                          <p class="card-text-add">ADD</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                        <figure>
                      <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                      </figure>
                      <div class="card-body">
                        <p class="card-title">Fried Chicken Kimchi Rice Bowl</p>
                        <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                          <p class="card-text-add">ADD</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              </section>
              <section id="Sandwich and more">
              <div class="new_lunches">
                <h1 class="new_lunches_title">Sandwich and more</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                       <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                         <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                         </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                             <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                           <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Chicken Sausage Loaded Fries</p>
                            <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </section>
            <section id="Biriyani">
              <div class="new_lunches">
                <h1 class="new_lunches_title">Biriyani</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                          <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                            <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Chicken Sausage Loaded Fries</p>
                            <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
            </section>
            <section id="Fresh Dessert">
              <div class="new_lunches">
                <h1 class="new_lunches_title">Fresh Dessert</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                          <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                            <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Chicken Sausage Loaded Fries</p>
                            <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
            </section>
            <section id="Beverage">
              <div class="new_lunches">
                <h1 class="new_lunches_title">Beverage</h1>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> 
                            <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Buffalo Chicken Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Chicken Sausage Loaded Fries</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                          <figure>
                        <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                          <p class="card-title">Sambal Peanut Chicken Noodles</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Sichuan Fried Chicken Bowl</p>
                          <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                            <figure>
                          <img src="{% static 'items/images/food1.jpg' %}" class="card-img-top" alt="...">
                          </figure>
                          <div class="card-body">
                            <p class="card-title">Chicken Sausage Loaded Fries</p>
                            <div class="card-text d-flex justify-content-between"> <p class="card-text-p">৳220 </p>
                              <p class="card-text-add">ADD</p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
                </div>
            </section>
    </div>
  </section>