
<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}SeflMart{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap_min.css' %}">
    
    {% block cssblock %}
     <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock cssblock %}

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    
</head>
<body>
    {% include 'main/nav.html' %}
    
    {% block main-content %}
        
    {% endblock main-content %}

    
    <footer class="footer mb-o pb-0">
      <div class="bg-black">
        {% block main-footer %}

        {% endblock main-footer %}
      </div>  

       <div class="bg-black">
           <div class="container-fluid bg-black d-md-flex align-items-center justify-content-center text-center">
            <small class="text-white">Copyright &copy; 2021 || Developed By Lollypop Troops </small>
           </div>
        </div>  
     </footer>
   
   
   
    <script src="{% static 'main/js/bootstrap_min.js' %} "></script>
    <script src="{% static 'main/js/jquery_min.js' %} "></script>
    <script src="{% static 'main/js/popper_min.js' %} "></script>
    <script src="{% static 'main/js/all.min.js'%} "></script>
</body>
</html>