{% extends 'main/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock cssblock %}

{% block main-content %}
<div class="container my-5 pt-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{ product.product_image.url }}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{ product.title }}</h2> </h2>
   <hr>
   <p>Product Description: {{ product.discription }} </p> <br>
   <h4>৳. {{product.discount_price}} <small class="fw-light text-decoration-line-through"> {{product.selling_price }} </small></h4> <br>
   <a href="{% url 'cart-item' %}" class="btn btn-primary shadow px-5 py-2">Add to Cart</a>
   <a href="#" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
  </div>
 </div>
</div>
{% endblock main-content %}